:root {
	--color-main: rgb(28, 39, 95);
	--color-accent: rgb(16, 19, 39);
	--color-text: rgb(141, 143, 151);
	--color-left-slider: rgb(254, 147, 135);
	--color-right-slider: rgb(255, 73, 139);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-accent);
	height: 100vh;
}
